body{
  background-color: #2a2a2a;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  padding-top: 4vh;
}
.div {
  display: flex;
}
@media (max-width: 999px) {
  .div {
    flex-direction: column;
    align-items: stretch;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc(50% - 10px);
  margin-left: 0px;
}
@media (max-width: 999px) {
  .column {
    width: 100%;
  }
}
.a {
  display: block;
  flex-direction: column;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  color: white;
  border-radius: 4em;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  margin-left: 8vw;
  margin-right: auto;
  text-decoration:none;
}
@media (max-width: 991px) {
  .a {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media (max-width: 640px) {
  .a {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc(50% - 10px);
  margin-left: 20px;
}
@media (max-width: 999px) {
  .column-2 {
    width: 100%;
  }
}
.title {
  margin-left: auto;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  margin-top: 1.1vh;
  font-weight: 600;
  color: rgba(239, 239, 239, 1);
  margin-right: 8vw;
  display: block;
  margin-bottom: auto;
}
@media (max-width: 991px) {
  .title {
    margin-top: -4.8vh;
  }
}
@media (max-width: 640px) {
  .title {
    font-size: 25px;
    margin-top: -3.6000000000000007vh;
  }
}
.antibiotic {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 8vh;
  height: auto;
  padding-left: 25vw;
  padding-right: 25vw;
  margin-left: auto;
  margin-right: auto;
  max-height: 30vw;
}
@media (max-width: 640px) {
  .antibiotic {
    padding-left: 10vw;
    padding-right: 10vw;
    max-height: 38vw;
  }
}
.img-column {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 5vw;
  min-width: 30vw;
  margin-left: auto;
}
@media (max-width: 640px) {
  .antibiotic-img {
    min-width: 38vw;
  }
}
.antibiotic-img {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  max-height: 30vw;
}
@media (max-width: 640px) {
  .antibiotic-img {
    max-height: 38vw;
  }
}
@media (min-width: 1440px) {
  .antibiotic-img {
    max-width: 20vw;
    max-height: 20vw;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.image-sizer {
  width: 100%;
  padding-top: 100%;
  pointer-events: none;
  font-size: 0;
}
.info-column {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 30vw;
  margin-right: auto;
}
@media (max-width: 640px) {
  .info-column {
    max-height: 38vw;
  }
}
.antibiotic-title {
  display: inline;
  line-height: normal;
  height: auto;
  color: rgba(239, 239, 239, 1);
  font-family: "Inconsolata", sans-serif;
  position: relative;
  font-weight: 600;
  font-size: 30px;
}
@media (max-width: 991px) {
  .antibiotic-title {
    font-size: 22px;
  }
}
@media (max-width: 640px) {
  .antibiotic-title {
    font-size: 18px;
  }
}
.antibiotic-description {
  display: inline;
  line-height: normal;
  height: auto;
  color: rgba(239, 239, 239, 1);
  font-family: "Inconsolata", sans-serif;
  position: relative;
  font-size: 20px;
  font-style: italic;
  margin-top: 1vh;
}
@media (max-width: 991px) {
  .antibiotic-description {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .antibiotic-description {
    font-size: 14px;
    margin-top: .2vh;
  }
}
.antibiotic-description-2 {
  display: inline;
  line-height: normal;
  height: auto;
  color: rgba(239, 239, 239, 1);
  font-family: "Inconsolata", sans-serif;
  position: relative;
  font-style: italic;
  margin-top: 2vh;
  font-size: 20px;
}
@media (max-width: 991px) {
  .antibiotic-description-2 {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .antibiotic-description-2 {
    font-size: 14px;
    margin-top: 0.8vh;
  }
}
.antibiotic-description-3 {
  display: inline;
  line-height: normal;
  height: auto;
  color: rgba(239, 239, 239, 1);
  font-family: "Inconsolata", sans-serif;
  position: relative;
  font-style: italic;
  margin-top: 0.1vh;
  font-size: 20px;
}
@media (max-width: 991px) {
  .antibiotic-description-3 {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .antibiotic-description-3 {
    font-size: 14px;
  }
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  appearance: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: rgba(213, 255, 45, 1);
  color: rgba(42, 42, 42, 1);
  border-radius: 1em;
  text-align: center;
  cursor: pointer;
  margin-right: auto;
  font-family: "Inconsolata", monospace;
  margin-top: 3vh;
  text-decoration: none;
}
@media (max-width: 640px) {
  .button {
    font-size: 13px;
    margin-top: 1vh;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

input[type=checkbox] {
  visibility: hidden;
}
.checkbox {
  margin-top: 2vh;
  position: relative;
}
.checkbox label {
  font-family: "Inconsolata", monospace;
  display: block;
  width: 5em;
  border-radius: 1em;
  transition: all .5s ease;
  position: absolute;
  top: -2px;
  left: -3px;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(213, 255, 45, 1);
  color: rgba(213, 255, 45, 1);
}
@media (max-width: 640px) {
  .checkbox label {
    font-size: 13px;
  }
  .checkbox input[type=checkbox]:checked + label {
    font-size: 13px;
  }
}
.checkbox input[type=checkbox]:checked + label {
  background: rgba(213, 255, 45, 1);
  border-width: 0px;
  color:#2a2a2a;
}