# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store
diplab-petri/examples/accellerometer/.DS_Store
diplab-petri/.DS_Store
diplab-petri/examples/.DS_Store
diplab-petri/.DS_Store
diplab-petri/.DS_Store
diplab-petri/examples/.DS_Store
diplab-petri/examples/.DS_Store
diplab-app/.DS_Store
