.div {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4em;
    line-height: normal;
    height: auto;
    text-align: center;
    font-size: 47px;
  }
  @media (max-width: 991px) {
    .div {
      font-size: 37px;
      margin-top: 5em;
    }
  }
  @media (max-width: 640px) {
    .div {
      margin-top: 5em;
      font-size: 28px;
    }
  }

  .div2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    line-height: normal;
    height: auto;
    text-align: center;
    font-weight: 600;
    font-size: 51px;
  }
  @media (max-width: 991px) {
    .div2 {
      font-size: 41px;
    }
  }
  @media (max-width: 640px) {
    .div2 {
      font-size: 32px;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5em;
    height: 200px;
  }
  @media (max-width: 640px) {
    .box {
      min-height: 16em;
    }
  }

  .button-div {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;
  }
  @media (max-width: 640px) {
    .button-div {
      margin-top: auto;
    }
  }
  .section {
    width: 100%;
    align-self: stretch;
    flex-grow: 1;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .a {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    appearance: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-left: 5em;
    margin-right: 5em;
  }
  @media (max-width: 991px) {
    .a {
      margin-left: 5em;
      margin-right: 5em;
    }
  }
  @media (max-width: 640px) {
    .a {
      flex-grow: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
    }
  }