body{
  background-color: #2a2a2a;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 8em;
  height: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.title-description {
  margin-left: auto;
  margin-right: auto;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  color: rgba(239, 239, 239, 1);
}
@media (max-width: 640px) {
  .title-description {
    font-size: 25px;
  }
}
.title-2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Inconsolata", monospace;
  font-size: 81px;
  margin-top: 0.2em;
  font-weight: 600;
  color: rgba(239, 239, 239, 1);
}
@media (max-width: 640px) {
  .title-2 {
    font-size: 76px;
  }
}
.footer-button {
  position: absolute;
  display: flex;
  height: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 5em;
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  appearance: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: rgba(213, 255, 45, 1);
  color: rgba(42, 42, 42, 1);
  border-radius: 1em;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inconsolata", monospace;
  text-decoration:none;
  border-width: 0;
}
@media (max-width: 640px) {
  .button {
    font-size: 13px;
  }
}